@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568); /* équivalent de from-gray-900 via-gray-800 to-gray-700 */
  color: white; /* si tu veux aussi que le texte soit blanc par défaut */
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif; /* ou la police que tu utilises */
}

